body{
    margin: 0;
    padding: 0;
    background:#f6f6f6;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    user-select: none;
}

.box{
    width: 95%;
    height: 300px;
    background: rgb(63, 62, 62);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.box input{
    width: 100%;
    margin-bottom: 20px;
}


.box input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}


.center,.content{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#click{
    display: none;
}
#no{
    display: none;
}

.Oui{
    display: block;
    width: 100px;
    height: 50px;
    background: url(../img/orange.jpg);
    border-radius: 20px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 50px;
    cursor: pointer;
}


.Oui:hover{
    background: #ffc107;
}



.content{
    opacity: 0;
    visibility: hidden;
    width: 400px;
    height: 350px;
    background: white;
    border-radius: 3px;
    transition: .3s ease-in;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.4) ;
}
#click:checked ~ .content{
    opacity: 1;
    visibility: visible;
}

.header{
    height: 68px;
    background: url(../img/orange.jpg);
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
}

.header h2{
    color: #fff;
    padding-left: 32px ;
    font-weight: normal;
}

.fa-times{
    position:absolute;
    right: 20px ;
    top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
 .fa-check{
    font-size: 50px;
    color:#ff6600 ;
    font-weight: bold;
    height: 80px;
    width: 80px;
    border: 1px solid #ff6600;
    text-align: center;
    padding-top: 13px;
    border-radius: 50% ;
    box-sizing: border-box;
     margin: 30px 0 0 160px;
 }

 .content p{
    padding-top:10px ;
    font-size: 19px ;
    color: #000;
    text-align: center;
 }


.line{
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 1px;
    background: silver;
}

.close-btn{
    position: absolute;
    bottom: 12px;
    right: 25px;
    border-radius: 3px;
    color:  #fff;
    padding: 8px 10px;
    font-size: 18px;
    cursor: pointer;
    background: url(../img/orange.jpg);
}

.close-btn:hover{
    background:  #ffc107;
    color: #fff;
}
































































































