.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../img/orange.jpg);
  font-weight: bold;
  color: white;
}


.navLeft
{
  font-size: 35px;
  margin: 10px;
}
.navRight ul
{
  display: flex;
  margin: 0;
  padding: 0;
}
.navRight li
{
  list-style: none;
  font-size: 25px;
  text-align: center;
}
.navRight li a
{
  color: white;
  display: block;
  padding: 20px;
}
.navRight li a:hover
{
  background-color: white;
  color: #f4511e
}

#responsiveButton
{
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  top: 23px;
  right: 20px;
}
#responsiveButton span
{
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 10px;
}

#chkBox
{
  display: none;
}

@media(max-width: 700px)
{
  .navbar{
    flex-flow: column wrap;
    align-items: center;
    transition: 0.5s ease-out;
  }
  .navLeft
  {
    position: relative;
    right: 15%;
  }
  .navRight
  {
    position: absolute;
    top: 70px;
    background: url(../img/orange.jpg);
    color: black;
    width: 100%;
    transform: translateX(-700px);
    transition: 0.5s ease;
  }
  .navRight ul
  {
    flex-flow: column wrap;
    left: -50%;
  }
  .navRight li a
  {
    padding: 10px;
    width: 100%;
  }
  
  #responsiveButton
  {
    display: flex;
    cursor: pointer;
  }
  #chkBox:checked+div
  {
    transform: translateX(0px);
    transition: 0.5s ease;
  }
  #chkBox
  {
    display: none;
  }
}

.tm-footer {
  position: absolute;
  bottom: -400px;
  left: 0;
  right: 0;
  padding: 0 20px;
}